<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="We are a group of passionate Java Developers Enthusiasts and Students from all parts of
		Kerala. We hope to create a flourishing community in Kerala. The primary motto
		of KeralaJUG is sharing knowledge and building a collaborative culture to
		develop high quality Java Developers with strong base and ability to do almost anything.
		We have a wide verity of members from absolute beginners to experts which helps us
		to develop the community more fastly and effectively. As Java Being one of the best Open-Source technology
		available today makes the community more important.">
   <meta name="author" content="KeralaJUG">
   <meta name="keywords" content="KeralaJUG">
   <meta name="keywords" content="Kerala JUG">
   <meta name="keywords" content="keralajug">
   <meta name="keywords" content="kerla jug">
   <meta name="keywords" content="java user group">
   <meta name="keywords" content="java user group kerala">
   <meta name="keywords" content="java user group in kerala">
   <meta name="keywords" content="java community in kerala">
   <meta name="keywords" content="java community">
		<title>KeralaJUG - For Those Who <3 Java</title>
		<!-- Bootstrap Core CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom Fonts -->
		<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="css/patros.css" >
		<link rel="stylesheet" href="css/event-block.css">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
			<![endif]-->
			<link rel="shortcut icon" href="favicon.ico" >
	</head>

	<body data-spy="scroll" class="body">
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="company logo" /></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right custom-menu">
						<li class="active"><a href="#home">Home</a></li>
						<li><a href="#about">About</a></li>
						<!-- <li><a href="#services">Services</a></li>
						<li><a href="#meet-team">Team</a></li> -->
						<li><a href="#events">Events</a></li>
						<li><a href="#portfolio1">Gallery</a></li>

						<!-- <li><a href="blog.html">Blog</a></li> -->
						<li><a href="#contact">Contact</a></li>
						<!-- <li><a href="single-post.html">Single</a></li> -->
					</ul>
				</div>
			</div>
		</nav>
